@import 'scss/variables.scss';

.NavBar-container {
  align-items: center;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;

  .menus, .sns {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    span {
      cursor: pointer;

      .menu-item {
        font-size: medium;
      }
    }
  }

  .sns {
    justify-content: flex-end;

    .menu {
      width: 100px;
      text-align: center;
    }

    > :not(:first-child) {
      margin-left: 1rem;
    }

    span {
      font-size: 18px;
    }

    span:hover {
      color: $accent;
    }
  }
}
