@import './scss/variables.scss';

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
  text-decoration: none;
}

.accent-text {
  color: $accent;
}

.brand {
  border: 0.5px solid white;
  border-color: white;
  border-radius: 5px;
  font-size: 10px;
  letter-spacing: 5px;
  padding: 0.5rem 0.8rem 0.5rem 1rem;
}
