@keyframes fade {
  0%{ opacity: 0 }
  100% { opacity: 0.25 }
}

@keyframes float {
  0% {
    opacity: 0;
    display: none;
    transform: translateY(50px);
  }
  50% {
    display: block;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
